@page "/"
@using FlexibleCalendar.Calendars
@using FlexibleCalendar.Models


<PageTitle>Home</PageTitle>

<Calendar MonthsToShow="6" CalendarColumns="3" DateBackgroundCssVariable="--bs-body-bg" Events="_events" ColorizeStyle="ColoredStyle.Pilled"/>
<hr/>

<TemplatedCalendar 
    @ref="_templatedCalendar"
    MonthsToShow="6" 
    CalendarColumns="3" 
    DateBackgroundCssVariable="--bs-body-bg" 
    Templates="_templates" 
    ColorizeStyle="ColoredStyle.Pilled"/>
    
<button class="btn btn-primary" @onclick="ReadData">
    Считать данные
</button>

@CalendarFirstDate-@CalendarEndDate-@StartYear-@EndYear